h4{
    margin-left: 40px; 
    margin-right: 100px;
    text-align: justify;
}
h3{
    margin-left: 20px;
}
h2{
    margin-left: 20px;
}
h2{
    margin-left: 20px;

}
h1{
    margin-left: 20px;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    margin: 00%;
}
.web{
    color: olive;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width:100%;
    margin-right: 20px;
    margin-top: 100px;

   
    
}
.link-botton{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato);
    text color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    

}
.top-1banner{
    background-image: url(bayzid2.png); 
    background-repeat: no-repeat ;
    
    padding: 50px;
    margin-bottom: 100px;
}

#bay{
    width: 50%;
    padding-left: 5%;
}
#bay img{
    width: 800px;
    margin-right: 1000px;
    margin-top: 40px;
}
p{
    margin-right: 100px;
    margin-left: 10px;
    text-align: justify;
    font-weight: 400;
    font-size: x-large
   
}
.bgbanner{
    background-image: url(bayzid4.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    }
    .ex{
        display: flex;
        
        

}
.width{
   
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    text-align: justify;
    box-shadow: 10px 10px 10px 10px orange;
    background-image: url(bayzid6.png);
    background-repeat: no-repeat;
    background-size: 100px;
    padding-top:15px ;
    background-position: 500px 10px;
    

    
       

    


}
#width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    text-align: justify;
    box-shadow: 10px 10px 10px 10px orange;
    background-image: url(bayzid5.png);
    background-repeat: no-repeat;
    background-size: 100px;
    padding-top:15px ;
    background-position: 500px 10px;
    
}
